%sprite-image {
	background-repeat: no-repeat;
	background-image: url('http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015/img/cv-sprite.1479465580.png');
	background-size: auto;
	display: inline-block;
}

