.viewer__contents {
    font-size: 12px;
    white-space: pre-wrap;
    background-color: #282C34;
    border: solid 1px black;
    padding: 20px;
    color: #9DA5AB;
    min-height: 250px;
    overflow: auto;
}

.color__red {
	color: red;
}